body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('images/pexels-eva-bronzini-7598250.jpg'); /* Set the background image */
    background-size: cover;                  /* Scale the image to cover the entire element */
    background-repeat: no-repeat;            /* Prevent the image from tiling */
    background-position: center;             /* Center the image */
}

.trinket {
    min-width: 1300px;                  /* Minimum width to ensure content is visible */
    min-height: 500px;                 /* Minimum height for content */
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
